<div class="columns-2 md:columns-3 lg:columns-4 gap-0">
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/gallery-img-1.webp" alt="img-1"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/gallery-img-2.webp" alt="img-2"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/dark-green-tshirt-1.webp" alt="img-3"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/body-motion-category.webp" alt="img-4"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/gallery-img-5.webp" alt="img-5"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/gallery-img-6.webp" alt="img-6"
          class="h-auto max-w-full object-cover object-top" />
      </div>
      <div class=" bg-gray-100 overflow-hidden">
        <img src="https://readymadeui.com/images/gallery-img-7.webp" alt="img-7"
          class="h-auto max-w-full object-cover object-top" />
      </div>
    </div>
