<div>
  <div>
    <app-header></app-header>
  </div>
  <div>
      <app-hero></app-hero>
  </div>
  <div>
      <app-services></app-services>
  </div>
  <div>
   <!-- <app-gallery></app-gallery> -->
  </div>
  <div>
      <app-about></app-about>
  </div>
  <div>
      <app-marquee-testimonials></app-marquee-testimonials>
  </div>
  <div>
      <!-- <app-team></app-team> -->
  </div>
  <div>
      <app-call-to-action></app-call-to-action>
  </div>
  <div>
      <!-- <app-image-marquee></app-image-marquee> -->
  </div>
  <div>
      <app-footer></app-footer>
  </div>
</div>
